# {{ ansible_managed }}

when = {{ ninja_when }}

backupname = {{ ninja_backupname }}
backupdir = {{ ninja_backupdir }}

compress = {{ ninja_compress }}

includes = {{ ninja_includes }}
excludes = {{ ninja_excludes }}

DATEFORMAT = %Y.%m.%d
